.footer {
    // border-top: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
    border-top: 1px solid #eee;

    @include respond(sm) {
        display: flex;
        justify-content: space-between;
        padding: 2rem 1rem;
    }

    &__copyright {
        grid-column: 2/3;
        justify-self: center;
    }

    &__text {
        font-size: 2rem;
        font-family: $font_1;
        color: #000;
        font-weight: 500;

        @include respond(sm) {
            font-size: 1.6rem;
        }

        .copyright {
            color: #794ae1;
            margin-right: 0.5rem;
        }
    }

    &__social {
        display: flex;
        justify-self: flex-end;
        margin-right: 1rem;
    }

    &__link:not(:last-of-type) {
        @include respond(sm) {
            margin-right: 0.7rem;
        }
    }

    &__icon {
        width: 2.5rem;
        height: 2.5rem;
        margin: 0 0.5rem;
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: translateY(-2px);
        }
    }
}
