.homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 84vh;

    @include respond(sm) {
        min-height: 82vh;
    }

    &__container {
        text-align: center;
    }

    &__title {
        font-family: $font_2;
        font-size: 13rem;
        position: relative;
        color: transparent;
        -webkit-text-stroke: 0.5px #000;
        text-shadow: 3px -2px 0px #fff;
        z-index: 10;
        line-height: 1;
        letter-spacing: 3px;
        margin-bottom: 2rem;

        @include respond(xxl) {
            font-size: 10rem;
        }

        @include respond(sm) {
            font-size: 6rem;
            text-shadow: -3px -2px 0px #fff;
        }
    }

    &__subtitle {
        font-family: $font_2;
        font-size: 8rem;
        font-weight: 400;
        color: #fff;
        line-height: 1;
        padding-bottom: 2rem;

        @include respond(xxl) {
            font-size: 7rem;
        }

        @include respond(sm) {
            font-size: 4rem;
            padding-bottom: 1rem;
        }
    }

    &__paragraph {
        font-size: 3.2rem;
        font-family: $font_1;
        color: #fff;
        font-weight: 500;
        background-color: #000;

        @include respond(sm) {
            font-size: 2.2rem;
        }
    }

    .split__text {
        display: flex;
        justify-content: space-evenly;

        @include respond(sm) {
            margin-top: 2rem;
            flex-direction: column;
        }
    }

    &__detail {
        font-size: 2rem;
        font-family: $font_1;
        font-weight: 500;
        color: #fff;
        margin-bottom: 2rem;
    }

    &__experience {
        font-family: $font_1;
        font-size: 3rem;
        font-weight: 500;
        color: $green_color;

        @include respond(sm) {
            font-size: 2.5rem;
        }
    }

    &__softwares {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .software {
            width: 4rem;
            margin: 0 0.8rem;
            transition: all 0.2s ease-in-out;

            &:hover {
                transform: translateY(-3px);
            }
        }
    }
}
