.homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 84vh;

    @include respond(sm) {
        min-height: 82vh;
    }

    &__container {
        text-align: center;
    }

    &__title {
        font-family: $font_3;
        font-size: 13rem;
        position: relative;
        color: #fff;
        z-index: 10;
        line-height: 1;
        letter-spacing: 3px;
        margin-bottom: 2rem;

        @include respond(xxl) {
            font-size: 10rem;
        }

        @include respond(sm) {
            font-size: 6rem;
        }
    }

    &__subtitle {
        font-family: $font_2;
        font-size: 8rem;
        font-weight: 400;
        color: #fff;
        line-height: 1;
        padding-bottom: 2rem;

        @include respond(xxl) {
            font-size: 7rem;
        }

        @include respond(sm) {
            font-size: 4rem;
            padding-bottom: 1rem;
        }
    }

    &__paragraph {
        font-size: 3.2rem;
        font-family: $font_1;
        color: #fff;
        font-weight: 500;

        @include respond(sm) {
            font-size: 2.2rem;
            margin-bottom: 1rem;
        }
    }

    .split__text {
        display: flex;
        justify-content: space-evenly;

        @include respond(sm) {
            margin-top: 2rem;
            flex-direction: column;
        }
    }

    &__detail {
        font-size: 2rem;
        font-family: $font_1;
        font-weight: 500;
        color: #fff;
        margin-bottom: 2rem;

        @include respond(sm) {
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }
    }

    &__experience {
        font-family: $font_3;
        font-size: 3rem;
        font-weight: 700;
        color: #fff;

        @include respond(sm) {
            font-size: 2rem;
            margin-bottom: 2rem;
            margin-top: 1rem;
        }
    }

    &__softwares {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond(sm) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            gap: 1rem;
            max-width: 50%;
            margin: 0 auto;
        }

        .software {
            width: 4rem;
            margin: 0 0.8rem;
            transition: all 0.2s ease-in-out;

            &#ai {
                animation-fill-mode: forwards;
                animation-duration: 0.3s;
                animation-delay: 0s;
                animation-name: wavelike;
            }
            &#ps {
                animation-fill-mode: forwards;
                animation-duration: 0.3s;
                animation-delay: 0.1s;
                animation-name: wavelike;
            }
            &#ae {
                animation-fill-mode: forwards;
                animation-duration: 0.3s;
                animation-delay: 0.2s;
                animation-name: wavelike;
            }
            &#pr {
                animation-fill-mode: forwards;
                animation-duration: 0.3s;
                animation-delay: 0.3s;
                animation-name: wavelike;
            }
            &#xd {
                animation-fill-mode: forwards;
                animation-duration: 0.3s;
                animation-delay: 0.4s;
                animation-name: wavelike;
            }
            &#in {
                animation-fill-mode: forwards;
                animation-duration: 0.3s;
                animation-delay: 0.5s;
                animation-name: wavelike;
            }
        }
    }
}

@keyframes wavelike {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
