.works {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 84vh;
    flex-direction: column;

    &__container {
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-family: $font_3;
        font-size: 7rem;
        position: relative;
        color: #000;
        z-index: 10;
        line-height: 1;
        letter-spacing: 3px;
        letter-spacing: 2px;
        margin-bottom: 4rem;

        @include respond(sm) {
            font-size: 4rem;
        }
    }

    &__section,
    &__see-more .works__section {
        width: 100%;

        .work {
            display: flex;
            flex-direction: column;
            position: relative;
            min-height: 40rem;
            margin: 2rem 0;
            background-size: cover;
            background-repeat: no-repeat;

            @include respond(lg) {
                min-height: 20rem;
            }

            @include respond(sm) {
                min-height: unset;
                max-height: 10rem;
            }

            .hover-container {
                opacity: 0;
                transition: all 0.3s;
                min-height: 40rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                @include respond(lg) {
                    min-height: 20rem;
                }

                @include respond(sm) {
                    min-height: unset;
                    max-height: 10rem;
                    opacity: 0;
                }
            }

            &:hover .hover-container {
                opacity: 1;
                background-color: rgba($color: #000000, $alpha: 0.5);

                @include respond(sm) {
                    opacity: 0;
                }
            }

            &__image {
                width: 10rem;
                height: 10rem;
                margin-bottom: 2rem;
                transition: all 0.3s ease-in-out;

                @include respond(lg) {
                    width: 7rem;
                    height: 7rem;
                }

                &.dc {
                    width: 9rem;

                    @include respond(lg) {
                        width: 7rem;
                        height: 7rem;
                    }
                }

                &.aia {
                    width: 12rem;

                    @include respond(lg) {
                        width: 7rem;
                        height: 7rem;
                    }
                }
            }

            &:hover {
                .work__image {
                    transform: scale(1.2);
                }
            }

            &__title {
                font-size: 2rem;
                font-family: $font_1;
                color: #fff;
                font-weight: 500;

                @include respond(lg) {
                    font-size: 1.8rem;
                }

                @include respond(sm) {
                    text-align: left;
                }
            }
        }
    }

    &__link {
        text-decoration: none;
        z-index: 15;

        @include respond(sm) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;
        }
    }
}

#own.work {
    background-image: url("../images/cavers-work-02.webp");
}

#vime.work {
    background-image: url("../images/cavers-work-06.webp");
}
#hakolav.work {
    background-image: url("../images/cavers-work-03.webp");
}
#area.work {
    background-image: url("../images/cavers-work-04.webp");
}
#bombshell.work {
    background-image: url("../images/cavers-work-05.webp");
}
#easy-home.work {
    background-image: url("../images/cavers-work-12.webp");
}
#double-couple.work {
    background-image: url("../images/cavers-work-08.webp");
}
#AIA.work {
    background-image: url("../images/cavers-work-10.webp");
}
#fluf.work {
    background-image: url("../images/cavers-work-07.webp");
}

@keyframes showing {
    from {
        opacity: 0;
        bottom: -3rem;
    }

    to {
        opacity: 1;
        bottom: 0;
    }
}
