.works {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 84vh;
    flex-direction: column;

    &__container {
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-family: $font_2;
        font-size: 9rem;
        position: relative;
        color: transparent;
        -webkit-text-stroke: 0.5px #000;
        text-shadow: -3px -2px 0px #fff;
        z-index: 10;
        line-height: 1;
        letter-spacing: 3px;
        letter-spacing: 2px;
    }

    &__section,
    &__see-more .works__section {
        display: flex;
        justify-content: space-evenly;
        margin-top: 8rem;
        width: 63%;

        @include respond(xl) {
            width: 75%;
        }

        @include respond(sm) {
            flex-direction: column;
            width: 65%;
        }

        .work {
            display: flex;
            flex-direction: column;
            position: relative;

            @include respond(sm) {
                margin-bottom: 4rem;
            }

            &__image {
                width: 10rem;
                height: 10rem;
                margin-bottom: 2rem;
                transition: all 0.3s ease-in-out;

                @include respond(lg) {
                    width: 7rem;
                    height: 7rem;
                }

                &.dc {
                    width: 9rem;

                    @include respond(lg) {
                        width: 7rem;
                        height: 7rem;
                    }
                }

                &.aia {
                    width: 12rem;

                    @include respond(lg) {
                        width: 7rem;
                        height: 7rem;
                    }
                }
            }

            &:hover {
                .work__image {
                    transform: scale(1.2);
                }
            }

            &__title {
                font-size: 2rem;
                font-family: $font_1;
                color: #fff;
                font-weight: 500;

                @include respond(lg) {
                    font-size: 1.8rem;
                }

                @include respond(sm) {
                    text-align: left;
                }
            }
        }
    }

    &__link {
        text-decoration: none;
        z-index: 15;

        @include respond(sm) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;
        }
    }

    &__see-more {
        opacity: 0;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        animation-delay: 2s;
        animation-name: showing;
        width: 80%;
        margin: 10rem auto 0;
        justify-content: center;
        align-items: center;

        @include respond(lg) {
            margin-top: 0;
        }

        .see-more {
            font-size: 2rem;
            font-family: $font_1;
            color: #fff;
            font-weight: 500;
            cursor: pointer;
            text-align: center;
            position: relative;
            max-width: fit-content;
            margin: 0 auto;

            &::before {
                content: "";
                background: #fff;
                display: block;
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 0;
                transition: all 0.3s ease-in-out;
                height: 3px;
            }

            &:hover::before {
                width: 100%;
            }

            @include respond(sm) {
                margin-bottom: 4rem;
            }
        }

        .works__section {
            width: 80%;
            margin: 5rem auto 0;

            @include respond(sm) {
                margin-top: 0;
            }
        }

        .work {
            width: 25%;
            justify-content: center;
            align-items: center;
            text-align: center;

            @include respond(sm) {
                width: 100%;
                align-items: stretch;
            }
        }
    }
}

#own.work {
    position: relative;
    bottom: -3rem;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-name: showing;
}

#vime.work {
    position: relative;
    bottom: -3rem;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-name: showing;
}
#hakolav.work {
    position: relative;
    bottom: -3rem;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-name: showing;
}
#area.work {
    position: relative;
    bottom: -3rem;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 1.2s;
    animation-name: showing;
}
#bombshell.work {
    position: relative;
    bottom: -3rem;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 1.6s;
    animation-name: showing;
}

@keyframes showing {
    from {
        opacity: 0;
        bottom: -3rem;
    }

    to {
        opacity: 1;
        bottom: 0;
    }
}
